.character-card {
  background-color: #020617;
  padding: 1.5rem;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.character-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.3);
}
.character-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.character-role {
  color: #94a3b8;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}
