.characters-page {
  max-width: 900px;
  margin: 2rem auto;
}

.wiki-card {
  background-color: #020617;
  border-left: 4px solid #38bdf8;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.2s;
}

.wiki-card:hover {
  transform: translateX(5px);
}
.villain-title {
  color: #ef4444 !important;
  border-left-color: #ef4444 !important;
}